
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
}


header {
    position: fixed;
    padding: 20px 0;
    top: 0;
    left: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s linear;
}

header.sticky {
    background-color: crimson;
    padding: 10px 0;
}

.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
}

.site-logo {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    color: #fff;
}

.navbar {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.nabar-link {
    color: #fff;
    font-weight: 600;
    transition: all 0.4s ease;
}

.nabar-link:hover {
    color: coral;
}

.btn-about {
    border: none;
}


@media (max-width:1040px) {
    header {
        /* padding: 12px 20px; */
    }

    .container {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    nav {
        padding: 10px;
    }

    .site-logo {
        font-size: 20px;
        font-weight: 500;
    }

    .navbar {
        display: none;
        transition: all 0.5s esse;
    }

    .navbar.active {
        z-index: 888;
        position: fixed;
        top: 0;
        right: 0;
        width: 375px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(245, 245, 247);
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 /15%);
        transition: all 1.5s;
        
    }

    .navbar.active a {
        font-size: 20px;
        color: crimson;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .navbar.active a:hover {
        font-size: 20px;
        color: rgb(36, 26, 26);
    }

    .btn-hamburger {
        width: 35px;
        cursor: pointer;
        display: block;
        margin-left: auto;
        height: 25px;
        background-image: url(../images/menu.png);
        background-size: cover;
        background-position: center;

    }

    .btn-hamburger.active {
        z-index: 999;
        background: url(../images/close.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        filter: invert(1);
    }

    .navbar-link {
        transform: translateY(120px);
    }


}

/* =======main section=========== */

.main {
    padding-top: 180px;
    padding-bottom: 180px;
    background-image: url(../images/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heading-one {
    color: #fff;
    font-size: 30px;
}

.heading-one span {
    font-size: 50px;
}
 
.animated {
    height: 70px;
    overflow: hidden;
    margin: 30px 0;
}

.animated h2 {
    font-size: 45px;
    line-height: 70px;
    color: indigo;
    font-style: italic;
}

.animated h2:nth-child(1) {
    animation: text-move 10s infinite;  
}

@keyframes text-move {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -70px;
    }
    50% {
        margin-top: -140px;
    }
    75% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}

.btn {
    padding: 10px 20px;
    background-color: crimson;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .4s ease;
} 

.btn:hover {
    background-color: green;
}

.media-icons {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.fab {
    font-size: 34px;
    margin-top: 40px;
    color: #fff;
    transition: all 0.6s ease;
}

.fab:hover {
    color: crimson;
}

@media (max-width: 1040px) {
    .main {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
    .heading-one {
        color: #fff;
        font-size: 25px;
    }
    
    .heading-one span {
        font-size: 30px;
        color: crimson;
    }
     
    .animated {
        height: 70px;
        overflow: hidden;
        margin: 15px 0;
    }
    
    .animated h2 {
        font-size: 30px;
        line-height: 70px;
        color: yellow;
        font-weight: 300;
        font-style: italic;
    }
    
    .animated h2:nth-child(1) {
        animation: text-move 10s infinite;
    }
    
    @keyframes text-move {
        0% {
            margin-top: 0;
        }
        25% {
            margin-top: -70px;
        }
        50% {
            margin-top: -140px;
        }
        75% {
            margin-top: -70px;
        }
        100% {
            margin-top: 0;
        }
    }
    
    .btn {
        padding: 6px 14px;
        background-color: crimson;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 3px;
        transition: all .4s ease;
    } 
    
    .btn:hover {
        background-color: green;
    }
    
    .media-icons {
        width: 130px;
        display: flex;
        justify-content: space-between;
    }
    
    .fab {
        font-size: 34px;
        margin-top: 40px;
        color: #fff;
        transition: all 0.6s ease;
    }
    
    .fab:hover {
        color: crimson;
    }
}

/* ======home section=========== */

.home {
    padding-top: 75px;
    padding-bottom: 75px;
    
}

.about-heading {
    text-align: center;
    font-size: 35px;
    /* margin-bottom: 75px; */
} 

.line-block {
    display: flex;
    align-items: center;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 23px; */
    /* margin-bottom: 75px; */
}

.line {
    width: 52.5px;
    height: 4px;
    background-color: crimson;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: crimson;
    border-radius: 50%;
}

.about-section {   
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}
 
.about-section__data {
    width: 50%;
}

.about-data__heading {
    margin-bottom: 20px;
    font-size: 24px;
}

.about-section__img img{
    border-radius: 7px;
}

.about__text {
    color: #000;
    margin-bottom: 30px;
    text-align: justify;
} 

@media (max-width:1040px) {
    .home {
        padding-top: 45px;
        padding-bottom: 45px;
        
    }
    
    .about-heading {
        text-align: center;
        font-size: 25px;
        /* margin-bottom: 75px; */
    } 
    
    .line-block {
        display: flex;
        align-items: center;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 23px; */
        /* margin-bottom: 75px; */
    }
    
    .line {
        width: 52.5px;
        height: 4px;
        background-color: crimson;
    }
    
    .circle {
        width: 15px;
        height: 15px;
        background-color: crimson;
        border-radius: 50%;
    }
    
    .about-section {   
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
        flex-direction: column;
    } 

    .about-section__img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-section__img img {
        max-width: 100%;
    }
     
    .about-section__data {
        width: 100%;
        margin-top: 30px;
    }
    
    .about-data__heading {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
    }
    
    .about__text {
        color: #000;
        margin-bottom: 30px;
        text-align: justify;
    } 
}

/* ===========skills=========== */

.skills {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000;
}
 
.skills__heading {
    font-size: 40px;
    color: crimson;
    text-align: center;
}

.skills__block {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.skills__text {
    width: 40%;
}

.skills__text h2 {
    margin-bottom: 24px;
}

.skills__text p {
    margin-bottom: 24px;
}

.skills__text h2, p {
    color: #fff!important;
}

.skills__loaded {
    width: 50%;
}

.skills__data {
    display: flex;
    justify-content: space-between;
}

.skills__data h4 {
    color: #fff;
} 

.skills-block {
    display: flex;
    border-radius: 2px;
}

.skills-block div:first-child {
    width: 95%;
    height: 16px;
    background-color: red;
}

.skills-block div:last-child {
    width: 5%;
    height: 16px;
    background-color: #c4c4c4;
}

.wrapper-skills {
    margin-bottom: 30px;
}

.skills__data {
    margin-bottom: 7px;
}

.wrapper-skills:nth-child(2) .skills-block div:first-child {
    width: 85%;
    background-color: rgb(57, 142, 240);
}

.wrapper-skills:nth-child(2) .skills-block div:last-child {
    width: 15%;
}

.wrapper-skills:nth-child(3) .skills-block div:first-child {
    width: 80%;
    background-color: rgb(238, 106, 17);
}

.wrapper-skills:nth-child(3) .skills-block div:last-child {
    width: 20%;
}

.wrapper-skills:nth-child(4) .skills-block div:first-child {
    width: 75%;
    background-color: rgb(40, 6, 165);
}

.wrapper-skills:nth-child(4) .skills-block div:last-child {
    width: 25%;
}

.wrapper-skills:nth-child(5) .skills-block div:first-child {
    width: 90%;
    background-color: rgb(6, 165, 14);
}

.wrapper-skills:nth-child(5) .skills-block div:last-child {
    width: 10%;
}

@media (max-width:1040px) {
    .skills {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .skills__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .skills__text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .skills__loaded {
        width: 100%;
        margin-top: 75px;
    }
    
}

/* ================services=============== */

.services {
    padding-top: 100px;
    padding-bottom: 100px;
}
 
.services__heading {
    text-align: center;
    font-size: 40px;
    color: crimson;
}

.servicesTitle {
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000!important;
} 

.services__inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.services__item {
    text-align: center;
    background: #fff;
    width: 300px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
}

.services__item:hover {
    box-shadow: 0 15px 65px rgb(1 1 1 / 15%);
}

.services__item i {
    color: crimson;
    font-size: 105px;
    margin-top: 25px;
}

.services-heading {
    color: crimson;
    margin-top: 15px;
}

.services-text {
    color: #000!important;
    margin-top: 25px;letter-spacing: 1px;
}

@media (max-width: 1040px) {
    .services__inner {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services__item {
        width: 100%;
    }

    .servicesTitle {
        color: #000!important;
    }
}

/* =======section work=========== */

.work {
    padding: 100px 0;
    background-color: #000;
}

.work-inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;
}

.work-item {
    width: 340px;
    height: 260px;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 4px;
}

.work-item img {
    transition: all .4s ease;

}

.work-item:hover img {
    transform: scale(1.2);
}

.btn-work {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
}

@media(max-width: 1040px) {
    .work-inner {
        justify-content: space-evenly;
    }
}

/* ============contact section============== */

.contact {
    padding: 100px 0;
}

.contact-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.contact-item {
    width: 23%;
    text-align: center;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px 20px;
}

.contact-item h2 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 20px; 
}

.contact-item p {
    color: #494949!important;

}

.fas {
    color: crimson;
    font-size: 70px;
}

h2, p {
    color: #000;
}

.contact-form {
    width: 600px;
    margin-top: 60px;
    padding: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
}

.form-heading {
    margin-bottom: 25px;
}

.contact-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    border-radius: 4px;
    border: 1.5px solid grey;
}

.text-massage {
    width: 100%!important;
    height: 250px!important;
}

.form-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    border: none;
}

@media(max-width:1040px) {
    .contact-inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .contact-item {
       width: 100%;
       margin-bottom: 25px;
    }

    .contact-form {
        width: 100%;
    }

    .footer-heading {
        font-size: 16px;
    }

    .footer-text {
        font-size: 14px;
    }
}

/* =============footer section========= */

footer {
    background-color: #000;
    padding: 50px 0;
}

.footer-heading {
    text-align: center;
    color: #fff;
}

.footer-text {
    text-align: center;
    color: #fff;
    /* font-style: italic; */
    font-weight: 300;
}

.about__text {
    color: #000!important;
}

.scrolToTop-btn {
    z-index: 999;
    position: fixed;
    background-color: crimson;
    right: 0;
    bottom: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.3s ease;
}

.scrolToTop-btn.active {
    right: 20px;
    opacity: 1;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reveal {
    position: relative;
    transform: translateY(60px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

#modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    display: none;
}

.modal {
    width: 350px;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    position: relative;
}

.modal h3 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 22px;
    color: #525050;
}

.form-control input {
    display: block;
    padding: 7px 110px 7px 10px;
    margin-bottom: 12px;
    background-color: #fffcfc;
    outline: none;
    border-radius: 3px;
    border: 1.6px solid rgb(37, 40, 209);
}

.form-control input[placeholder] {
    color: rgb(36, 37, 37);
}

.form-control button {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    top: 10px; 
    padding: 5px;
    border-radius: 50%;
    right: 10px;
    font-size: 24px;
    font-weight: 500;
    color: #494949;
    cursor: pointer;
    border: 1px solid grey;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.close:hover {
    color: crimson;
    border: 1px solid crimson;
}